.AddItem {
  width: 100%;
  margin-top: auto;
  height: 45px;
  position: relative;
}

.AddItem input {
  height: 100%;
  width: 100%;
  padding: 0px 15px;
  font-size: 1.5rem;
}

.AddItem img {
  position: absolute;
  width: 35px;
  right: 10px;
  top: 5px;
}
